
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.logo {
  color: #17a2b8 !important;
}

footer {
  background-color: #343a40 !important;
}

.bor {
  border: 1px solid gray;
}

.shadows,
.center-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
}
.heroImage{
  width:   fit-content;;
}

.rounded-tl-md { border-top-left-radius: 50%; }
.rounded-tr-md { border-top-right-radius: 50%; }
.rounded-bl-md { border-bottom-left-radius: 50%; }
.rounded-br-md { border-bottom-right-radius: 50%; }

.hero {
  background-image: url(./1.png);
}

.imagesFlex {
  width: 90%;
}

.question {
  height: 90%;
  text-align: start;
  min-width: fit-content;
  max-width: fit-content;
}


.topnav {
  position: relative;
}

.topnav .icon {
  display: none;
}

.pix{
  height: -webkit-fill-available;
  width: 15%    ;
}
@media screen and (max-width: 640px) {
 
  .heroImage{
    visibility: hidden;
  }
  .heading {
    font-size: 20px !important;
  }
    .pera{
    font-size: 10px;
  }
  .topnav {
    justify-content: space-between !important;
  }

  .topnav .nav-content {
    display: none !important;
  }

  .topnav .icon {
    display: block;
  }

  .topnav.responsive {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 28px;
    top: 28px;
  }

  .topnav.responsive .nav-content {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .topnav.responsive nav,
  .topnav.responsive .Btns {
    flex-direction: column;
    width: 100%;
  }

  .topnav.responsive a,
  .topnav.responsive button {
    width: 100%;
    text-align: left;
    padding: 10px 14px;
  }

}
@media screen and (min-width: 640px) and (max-width: 768px) {
.heading {
    font-size: 20px !important;
  }

  p{
    font-size: 15px;
  }
  .pera{
    font-size: 15px;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .allof,
  .hero {
    margin: 0;
    padding: 0;
  }

  .imgtext {
    top: 90px;
    left: 90px;
  }

  .heading {
    font-size: 40px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  center {
    width: 100% !important;
    margin: 0;
    padding: 0;
  }

  .download {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    overflow: auto;
  }
}
