.logo {
  color: #17a2b8 !important;
}
.hero {
  background-image: url(./1.png);
}
.rounded-tl-md {
  border-top-left-radius: 236px ;
}
.rounded-tr-md {
  border-top-right-radius: 236px ;
}
.rounded-bl-md {
  border-bottom-left-radius: 236px ;
}
.rounded-br-md {
  border-bottom-right-radius: 236px ;
}
.shadows,
.center-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
}
.question {
  text-align: start;
  min-width: fit-content;
  max-width: fit-content;
}
.bor {
  border: 1px gray solid;
}
footer {
  background-color: #343a40 !important;
}
body {
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.imagesFlex{
  width: 90%;
}
@media screen and (max-width: 479px) {
  body {
   
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
   
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .allof{
    padding: 0;
    margin: 0;
  }
  .hero{
  padding: 0;
  margin: 0;
 }
 .heading{ 
  font-size: 40px !important;
 }
  
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
 center{
    width: 100% !important;
    padding: 0px;
    margin: 0;
  }
  .download{
    padding: 0;
    margin: 0;
  }
  body{
    width: 100%;
   overflow: auto;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1443px) {
  
}

