.logo {
  color: #17a2b8 !important;
}
.hero {
  background-image: url(./1.png);
}
.rounded-tl-md {
  border-top-left-radius: 236px;
}
.rounded-tr-md {
  border-top-right-radius: 236px;
}
.rounded-bl-md {
  border-bottom-left-radius: 236px;
}
.rounded-br-md {
  border-bottom-right-radius: 236px;
}
.shadows,
.center-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
}
.question {
  text-align: start;
  min-width: fit-content;
  max-width: fit-content;
}
.bor {
  border: 1px gray solid;
}
footer {
  background-color: #343a40 !important;
}
body {
  overflow-x: hidden !important;
}

.imagesFlex{
  width: 90%;
}